* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 20px;
}
.portfolio{
    text-align: center;
    margin-bottom:20px;
    
}
.portfolio h1 {
    font-size: 2em;
    padding-bottom: 5px;
    
    padding: 20px;
}

.flite-menu{
    display: block;
    margin-bottom: 20px;
}
.flite-menu{
    display: inline;
    margin-bottom: 20px;
}
.flite-menu ul {
    display: flex;
    justify-content: center;
}
.flite-menu ul li{
    margin: 0 15px;
    cursor: pointer;
}
.flite-menu ul li.active{
    color: #8379e2;;
    border-bottom: 2px solid #5b729c;
}
.grip-dulieu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}
.grip-item{
    background-color: rgb(116, 196, 116);
    padding: 50px 20px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;

}
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}